header {
    background-color: #65743A;
    color: #CCCCCC;
    text-align: center;
    padding: 2rem 1rem
}

body {
    background-color: #051014;
}

section {
    background-color: #795C5f;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.bodywith-sidebar {
    display: flex;
    min-height: 100vh;
}

.sidebar-bar {
    width: 20%;
    max-width: 200px;
    flex-shrink: 0;
    background-color: #CCCCCC;
}

.sidebar-body {
    background-color: #051014;
    flex-grow: 1;
}

#body-interior {
    padding: 1rem;
}

.split {
    display: flex;
    gap: 10px;
}

.split > div {
    flex: 1;
    min-width: 0;
}

.button {
    display: inline-block;
    background-color: #CCCCCC;
    color: #051014;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
    margin-top: 0.5rem
}

.button:hover {
    background-color: #ccccccd0
}

footer {
    text-align: center;
    padding: 1rem;
    color: #CCCCCC;
    font-size: 0.9rem;
}